[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
at-krl = {git = "https://github.com/grigandal625/AT_KRL.git"}
at-queue = {git = "https://github.com/grigandal625/AT_QUEUE.git"}

[dev-packages]
autopep8 = "*"
setuptools = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
bandit = "*"
pydocstyle = "*"

[requires]
python_version = "3.10"
